body{
	box-sizing: border-box;
	width:98%;
	background-image:url(IMG_20220418_120109.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.topnav{
	text-align:right;
	padding-top:20px;
	padding-right:10px;
	background-color:yellow;
	width:100%;
	height:50px;
	opacity:0.7;
	font-size:26px;
	color:blue;
}
a:hover{
	background-color:orange;
}


.leftnav{
	float: left;
	width:200px;
	height:550px;
	margin-top: 20px;
	padding-left:20px;
	opacity:0.5;
	background-color:yellow;
	font-size:17px;
	color:blue;

}
.leftnav li{
	margin-top: 45px;
}
.leftnav li:hover{
	background-color:orange;
}
.JM{
	float:left;
	margin-left:70px;
	font-size:36px;
	color:blue;
}
.middle{
float:left;
font-size:36px;
color:blue;
margin-left:400px;

}

